/* You can add global styles to this file, and also import other style files */
/*criar variaveis, o bom de utilizar varialvel, que a onde usar essa variavel vai trocar se eu mudar a cor,
isso pode facilitar caso uma empresa faça uma canpanha de natal e mude o layou para vermelho*/
$background-color:#252525 !important;
$font-color:#fff !important;

/*utilizando a variavel*/
.p-card{
    background-color: $background-color;
    color: $font-color;
}